# Performance Analysis

## Gathering the Necessary Materials

### Dependencies

In [53]:
#importing the needed dependencies
import pandas as pd
import plotly.express as px

### CSV's

In [2]:
#import the csvs
onemin_df = pd.read_csv('../CSVs/1min.csv')
fourmin_df = pd.read_csv('../CSVs/4min.csv')
thirtymin_df = pd.read_csv('../CSVs/30min.csv')
sixtymin_df = pd.read_csv('../CSVs/60min.csv')
onehun_df = pd.read_csv('../CSVs/100m.csv')
fivehun_df = pd.read_csv('../CSVs/500m.csv')
onek_df = pd.read_csv('../CSVs/1000m.csv')
twok_df = pd.read_csv('../CSVs/2000m.csv')
fivek_df = pd.read_csv('../CSVs/5000m.csv')
sixk_df = pd.read_csv('../CSVs/6000m.csv')
tenk_df = pd.read_csv('../CSVs/10000m.csv')
halfmarathon_df = pd.read_csv('../CSVs/HalfMarathon.csv')
marathon_df = pd.read_csv('../CSVs/Marathon.csv')

## Getting Clean

- Renaming
- Dropping Unnecessary Columns

In [3]:
#renaming the year column to season
twok_df = twok_df.rename(columns={"Year": "Season"})
twok_df.head()

,Unnamed: 0,Pos.,Name,Age,Location,Country,Club/Affiliation,Time,Type,Verified,Season
0,0,1,Matthias Siejkowski,37,NaN,GER,NaN,5:37.0,I,Race,2002
1,1,2,Justin Sires,25,Brisbane,AUS,NaN,5:46.7,I,No,2002
2,2,3,Matthew Pinsent,31,NaN,GBR,Leander Club,5:47.5,I,Race,2002
3,3,4,James Cracknell,29,NaN,GBR,Leander Club,5:47.6,I,Race,2002
4,4,5,Chris Grothkopp,22,"Princeton, NJ",USA,NaN,5:49.4,I,Race,2002

In [4]:
#adding the test column to the dataframe and dropping the unneeded column
onemin_df['Test'] = "1 Minute"
onemin_df = onemin_df.drop(columns=['Unnamed: 0'])
onemin_df.head()

,Pos.,Name,Age,Location,Country,Club/Affiliation,Distance,Type,Verified,Season,Test
0,1,Ross Love,31,"Friendswood, TX",USA,NaN,422,I,Yes,2016,1 Minute
1,2,Mike Reilly,23,"Varsity House, NJ",USA,NaN,407,I,Yes,2016,1 Minute
2,3,Luke Wollenschlaeger,43,Cape Town,RSA,Paddy Power IRC,405,I,Yes,2016,1 Minute
3,4,Flavio Garrisi,20,Delft,NED,NaN,403,I,No,2016,1 Minute
4,5,Jack Anderson,28,"St. Louis, MO",USA,"Project Deliverance, St. Louis, Missouri",398,I,Yes,2016,1 Minute

In [5]:
#adding the test column to the dataframe and dropping the unneeded column
fourmin_df['Test'] = "4 Minute"
fourmin_df = fourmin_df.drop(columns=['Unnamed: 0'])
fourmin_df.head()

,Pos.,Name,Age,Location,Country,Club/Affiliation,Distance,Type,Verified,Season,Test
0,1,Chris Roe,24,Warwick,GBR,NaN,1306,I,No,2002,4 Minute
1,2,Robert Alderson,36,Prestatyn,GBR,NaN,1291,I,No,2002,4 Minute
2,3,Peter Johansson,31,Lödöse,SWE,NaN,1287,I,No,2002,4 Minute
3,4,steven hammonds,34,nuneaton,GBR,NaN,1284,I,No,2002,4 Minute
4,5,Kevin Wennersten,24,"Ridgewood, NJ",USA,Rutgers University,1278,I,No,2002,4 Minute

In [6]:
#adding the test column to the dataframe and dropping the unneeded column
thirtymin_df['Test'] = "30 Minute"
thirtymin_df = thirtymin_df.drop(columns=['Unnamed: 0'])
thirtymin_df.head()

,Pos.,Name,Age,Location,Country,Club/Affiliation,Distance,Type,Verified,Season,Test
0,1,Nik Fleming,33,"Milton, Cambridge",GBR,Cambridge Assessment,9014,I,No,2002,30 Minute
1,2,Dwayne K. Adams,37,"Phoenix, AZ",USA,Free Spirits,8947,I,No,2002,30 Minute
2,3,David Brown,38,"Sandy, UT",USA,NaN,8802,I,No,2002,30 Minute
3,4,rod freed,52,"mission viejo, CA",USA,NaN,8767,I,No,2002,30 Minute
4,5,Kent Timm,43,"Saginaw, MI",USA,NaN,8761,I,No,2002,30 Minute

In [7]:
#adding the test column to the dataframe and dropping the unneeded column
sixtymin_df['Test'] = "60 Minute"
sixtymin_df = sixtymin_df.drop(columns=['Unnamed: 0'])
sixtymin_df.tail()

,Pos.,Name,Age,Location,Country,Club/Affiliation,Distance,Type,Verified,Season,Test
56187,4010,Christiane Hildesheim,58,NaN,GER,NaN,6163,I,Yes,2021,60 Minute
56188,4011,Jordan Graves,27,NaN,USA,NaN,6000,I,No,2021,60 Minute
56189,4011,Phil Goldman,74,"Sacramento, CA",USA,NaN,6000,I,No,2021,60 Minute
56190,4013,michelle vassell,52,NaN,USA,NaN,3097,I,No,2021,60 Minute
56191,4014,Jon Crawford,73,"Tempe, AZ",USA,NaN,212,I,No,2021,60 Minute

In [8]:
#adding the test column to the dataframe and dropping the unneeded column
onehun_df['Test'] = "100m"
onehun_df = onehun_df.drop(columns=['Unnamed: 0'])
onehun_df.head()

,Pos.,Name,Age,Location,Country,Club/Affiliation,Time,Type,Verified,Season,Test
0,1,Ross Love,30,"Friendswood, TX",USA,NaN,0:13.3,I,Yes,2016,100m
1,2,noel Carey,40,glanmire,IRL,NaN,0:13.6,I,Yes,2016,100m
2,3,Mike Reilly,24,"Varsity House, NJ",USA,NaN,0:13.7,I,Yes,2016,100m
3,4,Jack Anderson,28,"St. Louis, MO",USA,"Project Deliverance, St. Louis, Missouri",0:13.8,I,Yes,2016,100m
4,4,Flavio Garrisi,20,Delft,NED,NaN,0:13.8,I,No,2016,100m

In [9]:
#adding the test column to the dataframe and dropping the unneeded column
fivehun_df['Test'] = "500m"
fivehun_df = fivehun_df.drop(columns=['Unnamed: 0'])
fivehun_df.head()

,Pos.,Name,Age,Location,Country,Club/Affiliation,Time,Type,Verified,Season,Test
0,1,Rob Smith,31,Hurstpierpoint,GBR,MAD Team IRC,1:19.0,I,No,2002,500m
1,1,Tony Larkman,32,Bath,GBR,MAD Team IRC,1:19.0,I,No,2002,500m
2,3,Graham Benton,28,London,GBR,MAD Team IRC,1:19.1,I,No,2002,500m
3,3,John Stenard,43,"St. Petersburg, FL",USA,Massachusetts Institute of Technology,1:19.1,I,Race,2002,500m
4,5,David King,41,Charlton,GBR,NaN,1:19.3,I,No,2002,500m

In [10]:
#adding the test column to the dataframe and dropping the unneeded column
onek_df['Test'] = "1000m"
onek_df = onek_df.drop(columns=['Unnamed: 0'])
onek_df.head()

,Pos.,Name,Age,Location,Country,Club/Affiliation,Time,Type,Verified,Season,Test
0,1,Chris Roe,24,Warwick,GBR,NaN,2:55.4,I,No,2002,1000m
1,1,David Brown,38,"Sandy, UT",USA,NaN,2:55.4,I,No,2002,1000m
2,3,Andrew Benko,33,"Dubuque, IA",USA,NaN,2:55.7,I,No,2002,1000m
3,4,John Robinson-White,32,Solihull,GBR,NaN,2:56.8,I,No,2002,1000m
4,5,Marko Kovalainen,26,Hyvinkää,FIN,NaN,2:56.9,I,No,2002,1000m

In [11]:
#adding the test column to the dataframe and dropping the unneeded column
twok_df['Test'] = "2000m"
twok_df = twok_df.drop(columns=['Unnamed: 0'])
twok_df.head()

,Pos.,Name,Age,Location,Country,Club/Affiliation,Time,Type,Verified,Season,Test
0,1,Matthias Siejkowski,37,NaN,GER,NaN,5:37.0,I,Race,2002,2000m
1,2,Justin Sires,25,Brisbane,AUS,NaN,5:46.7,I,No,2002,2000m
2,3,Matthew Pinsent,31,NaN,GBR,Leander Club,5:47.5,I,Race,2002,2000m
3,4,James Cracknell,29,NaN,GBR,Leander Club,5:47.6,I,Race,2002,2000m
4,5,Chris Grothkopp,22,"Princeton, NJ",USA,NaN,5:49.4,I,Race,2002,2000m

In [12]:
#adding the test column to the dataframe and dropping the unneeded column
fivek_df['Test'] = "5000m"
fivek_df = fivek_df.drop(columns=['Unnamed: 0'])
#fivek_df.astype({'Pos.': 'int64'}).dtypes
fivek_df.head()

,Pos.,Name,Age,Location,Country,Club/Affiliation,Time,Type,Verified,Season,Test
0,1.0,Nik Fleming,33,"Milton, Cambridge",GBR,Cambridge Assessment,15:53.1,I,No,2002,5000m
1,2.0,Tony Larkman,32,Bath,GBR,MAD Team IRC,15:53.6,I,No,2002,5000m
2,3.0,shane woods,25,belfast,IRL,NaN,16:24.5,I,No,2002,5000m
3,4.0,Edward Johnson,20,London,GBR,NaN,16:25.6,I,No,2002,5000m
4,5.0,Alain MORETTO,33,VICHY,FRA,NaN,16:35.0,I,No,2002,5000m

In [13]:
fivek_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180219 entries, 0 to 180218
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Pos.              180218 non-null  float64
 1   Name              180198 non-null  object
 2   Age               180219 non-null  int64
 3   Location          152243 non-null  object
 4   Country           180216 non-null  object
 5   Club/Affiliation  58330 non-null   object
 6   Time              180218 non-null  object
 7   Type              180219 non-null  object
 8   Verified          180219 non-null  object
 9   Season            180219 non-null  int64
 10  Test              180219 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 15.1+ MB

In [14]:
#adding the test column to the dataframe and dropping the unneeded column
sixk_df['Test'] = "6000m"
sixk_df = sixk_df.drop(columns=['Unnamed: 0'])
sixk_df.head()

,Pos.,Name,Age,Location,Country,Club/Affiliation,Time,Type,Verified,Season,Test
0,1,Craig Law,29,"Ottawa, ON",CAN,NaN,19:08.8,I,No,2002,6000m
1,2,Brett Newlin,19,"Seattle, WA",USA,University of Washington,19:31.1,I,No,2002,6000m
2,3,Ben Rutledge,21,"Vancouver, BC",CAN,University of British Columbia,19:34.2,I,No,2002,6000m
3,4,Kevin Burt,27,"Ottawa, ON",CAN,NaN,19:34.5,I,No,2002,6000m
4,5,greg cobb,20,"philadelphia, PA",USA,NaN,19:45.0,I,No,2002,6000m

In [15]:
sixk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63772 entries, 0 to 63771
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Pos.              63772 non-null  int64
 1   Name              63764 non-null  object
 2   Age               63772 non-null  int64
 3   Location          56364 non-null  object
 4   Country           63769 non-null  object
 5   Club/Affiliation  28836 non-null  object
 6   Time              63772 non-null  object
 7   Type              63772 non-null  object
 8   Verified          63772 non-null  object
 9   Season            63772 non-null  int64
 10  Test              63772 non-null  object
dtypes: int64(3), object(8)
memory usage: 5.4+ MB

In [16]:
#adding the test column to the dataframe and dropping the unneeded column
tenk_df['Test'] = "10000m"
tenk_df = tenk_df.drop(columns=['Unnamed: 0'])
tenk_df.head()

,Pos.,Name,Age,Location,Country,Club/Affiliation,Time,Type,Verified,Season,Test
0,1,Tony Larkman,32,Bath,GBR,MAD Team IRC,33:10.6,I,No,2002,10000m
1,2,Nik Fleming,33,"Milton, Cambridge",GBR,Cambridge Assessment,33:11.4,I,No,2002,10000m
2,3,Troy Kepper,19,"Tallahassee, FL",USA,NaN,33:53.9,I,No,2002,10000m
3,4,Heikki Tukonen,40,Stockholm,SWE,NaN,33:57.6,I,No,2002,10000m
4,5,Dwayne K. Adams,37,"Phoenix, AZ",USA,Free Spirits,33:58.0,I,No,2002,10000m

In [17]:
#adding the test column to the dataframe and dropping the unneeded column
halfmarathon_df['Test'] = "21097m"
halfmarathon_df = halfmarathon_df.drop(columns=['Unnamed: 0'])
halfmarathon_df.head()

,Pos.,Name,Age,Location,Country,Club/Affiliation,Time,Type,Verified,Season,Test
0,1,Nik Fleming,33,"Milton, Cambridge",GBR,Cambridge Assessment,1:13:38.5,I,No,2002,21097m
1,2,rod freed,52,"mission viejo, CA",USA,NaN,1:14:26.3,I,No,2002,21097m
2,3,Mark Sutro,46,"Oakland, CA",USA,NaN,1:15:16.0,I,No,2002,21097m
3,4,David Brown,37,"Sandy, UT",USA,NaN,1:15:34.6,I,No,2002,21097m
4,5,Tom Carpenter,42,"Kingston, ON",CAN,NaN,1:15:37.0,I,No,2002,21097m

In [18]:
#adding the test column to the dataframe and dropping the unneeded column
marathon_df['Test'] = "42195m"
marathon_df = marathon_df.drop(columns=['Unnamed: 0'])
marathon_df.head()

,Pos.,Name,Age,Location,Country,Club/Affiliation,Time,Type,Verified,Season,Test
0,1,Dwayne K. Adams,37,"Phoenix, AZ",USA,Free Spirits,2:33:17.5,I,No,2002,42195m
1,2,Ed Golding,22,"Dallas, TX",USA,NaN,2:33:24.3,I,No,2002,42195m
2,3,Gregory Myhr,31,"Madison, WI",USA,NaN,2:34:43.9,I,No,2002,42195m
3,4,Paul Flack,45,"Annapolis, MD",USA,Annapolis Rowing Club,2:35:57.7,I,No,2002,42195m
4,5,Chris Flanagan,26,Christchurch,NZL,NaN,2:37:31.9,I,No,2002,42195m

In [21]:
combined_df = onemin_df.append([fourmin_df, thirtymin_df, sixtymin_df, onehun_df, fivehun_df, onek_df, twok_df, fivek_df, sixk_df, tenk_df, halfmarathon_df, marathon_df], ignore_index = True)

In [23]:
combined_df.head()

,Pos.,Name,Age,Location,Country,Club/Affiliation,Distance,Type,Verified,Season,Test,Time
0,1.0,Ross Love,31,"Friendswood, TX",USA,NaN,422.0,I,Yes,2016,1 Minute,NaN
1,2.0,Mike Reilly,23,"Varsity House, NJ",USA,NaN,407.0,I,Yes,2016,1 Minute,NaN
2,3.0,Luke Wollenschlaeger,43,Cape Town,RSA,Paddy Power IRC,405.0,I,Yes,2016,1 Minute,NaN
3,4.0,Flavio Garrisi,20,Delft,NED,NaN,403.0,I,No,2016,1 Minute,NaN
4,5.0,Jack Anderson,28,"St. Louis, MO",USA,"Project Deliverance, St. Louis, Missouri",398.0,I,Yes,2016,1 Minute,NaN

In [48]:
test_counts = combined_df['Test'].value_counts()
test_counts = test_counts.to_frame(name = "Count")

In [49]:
test_counts = test_counts.reset_index()
test_counts = test_counts.rename(columns={"index": "Test Name"})

In [50]:
test_counts

    Test Name   Count
0       2000m  275427
1       5000m  180219
2      10000m  130151
3   30 Minute  119037
4       1000m  111628
5        500m  100696
6       6000m   63772
7   60 Minute   56192
8      21097m   43126
9    4 Minute   27370
10       100m   17505
11   1 Minute   16572
12     42195m   13332

In [54]:
fig = px.bar(test_counts, x='Test Name', y='Count')
fig.show()