In [27]:
#importing the needed dependencies
import pandas as pd
import numpy as np

In [28]:
#import the csvs
onemin_df = pd.read_csv('../CSVs/cleaned/1min.csv')
fourmin_df = pd.read_csv('../CSVs/cleaned/4min.csv')
thirtymin_df = pd.read_csv('../CSVs/cleaned/30min.csv')
sixtymin_df = pd.read_csv('../CSVs/cleaned/60min.csv')
onehun_df = pd.read_csv('../CSVs/cleaned/100m.csv')
fivehun_df = pd.read_csv('../CSVs/cleaned/500m.csv')
onek_df = pd.read_csv('../CSVs/cleaned/1000m.csv')
twok_df = pd.read_csv('../CSVs/cleaned/2000m.csv')
fivek_df = pd.read_csv('../CSVs/cleaned/5000m.csv')
sixk_df = pd.read_csv('../CSVs/cleaned/6000m.csv')
tenk_df = pd.read_csv('../CSVs/cleaned/10000m.csv')
halfmarathon_df = pd.read_csv('../CSVs/cleaned/21097m.csv')
marathon_df = pd.read_csv('../CSVs/cleaned/42195m.csv')
total_df = pd.read_csv('../CSVs/cleaned/total.csv')

/Users/johnnyshuford/opt/anaconda3/envs/fitdat/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [29]:
lsofDF = [onemin_df, fourmin_df, thirtymin_df, sixtymin_df, onehun_df, fivehun_df, 
          onek_df, twok_df, fivek_df, sixk_df, tenk_df, halfmarathon_df, marathon_df]

In [30]:
lsofTests = ['1min', '4min', '30min', '60min', '100m', '500m', '1000m',
            '2000m', '5000m', '6000m', '10000m', '21097m', '42195m', '']

In [31]:
quantArray = np.arange(0, 1.01, 0.01)
quantList = quantArray.tolist()

In [32]:
count = 0
for df in lsofDF:
    std = df.quantile(quantList)
    std.to_csv(f'../CSVs/standards/raw/{lsofTests[count]}.csv', index = False)
    count+=1

Cleaning the Standards Tables

In [33]:
onemin_df_std = pd.read_csv('../CSVs/standards/raw/1min.csv')
fourmin_df_std = pd.read_csv('../CSVs/standards/raw/4min.csv')
thirtymin_df_std = pd.read_csv('../CSVs/standards/raw/30min.csv')
sixtymin_df_std = pd.read_csv('../CSVs/standards/raw/60min.csv')
onehun_df_std = pd.read_csv('../CSVs/standards/raw/100m.csv')
fivehun_df_std = pd.read_csv('../CSVs/standards/raw/500m.csv')
onek_df_std = pd.read_csv('../CSVs/standards/raw/1000m.csv')
twok_df_std = pd.read_csv('../CSVs/standards/raw/2000m.csv')
fivek_df_std = pd.read_csv('../CSVs/standards/raw/5000m.csv')
sixk_df_std = pd.read_csv('../CSVs/standards/raw/6000m.csv')
tenk_df_std = pd.read_csv('../CSVs/standards/raw/10000m.csv')
halfmarathon_df_std = pd.read_csv('../CSVs/standards/raw/21097m.csv')
marathon_df_std = pd.read_csv('../CSVs/standards/raw/42195m.csv')

In [34]:
onemin_df_std

       Age  Distance  Season   Split    Watts
0      3.0      32.0  2016.0   69.61     0.42
1     10.0     191.0  2016.0   77.52    90.32
2     12.0     207.0  2016.0   79.16   114.97
3     14.0     218.0  2016.0   80.43   134.31
4     15.0     227.0  2016.0   81.30   151.62
..     ...       ...     ...     ...      ...
96    70.0     369.0  2021.0  132.16   651.32
97    72.0     373.0  2021.0  137.61   672.69
98    74.0     379.0  2021.0  144.93   705.59
99    79.0     387.0  2021.0  157.07   751.32
100  116.0     431.0  2021.0  937.50  1037.66

[101 rows x 5 columns]